#masking {
position: fixed; 
width: 99%;
height: 100%;
overflow: visible;
top: 0px;
background-color: #000;
opacity: 0.5; 
display: none;
z-index: 2;
}

#paymentWindow  {
position: absolute; 
left: 140px;
top:150px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto; 
margin-right: auto;
background-color: #FFF;
border: solid 1px;
display: none;
z-index: 3;
}



#userHeader  {
position: relative; 
text-align: center;
margin-left: auto; 
margin-right: auto;
font-size: 15pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000;
top:  0px;
z-index:1;
}

#userForm   {
position: relative; 
margin-left: auto; 
margin-right: auto;
padding-left: 120px;
top: 10px;
z-index:1;
}

#memberWindow  {
position: relative; 
width: 800px;
margin-left: auto; 
margin-right: auto;
top:  50px;
z-index:1;
}

#holdWindow {
position: absolute; 
left: 255px;
top:150px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
margin-left: auto; 
margin-right: auto;
background-color: #FFF;
border: solid 1px;
display: none;
z-index: 5;
}


.tabBoard {
margin-bottom: 20px;
border:1px solid #4A4B4C;
border-collapse:collapse;
width: 100%;
}

.tabHead {
background-color: #4A4B4C;
}

.oBtext  {
position: relative;
top: 0px;
text-align: left;
padding-left: 10px;
font-size: 9pt;
font-weight: 300;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

.grey {
text-align: center;
font-size: 9pt;
font-weight: 900;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #A8A9AA;
}

.fieldColor {
 color: #999;  
 }

.black {
font-size: 9pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
}

.blackTwo {
font-size: 9pt;
font-weight: 400;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
}

.redOne {
font-size: 9pt;
font-weight: 400;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #900;
}

.blueOne {
font-size: 9pt;
font-weight: 400;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #06C;
}

.greyOne {
font-size: 9pt;
font-weight: 400;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #A8A9AA;
}

.greyTwo {
padding-top: 20px;
font-size: 9pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #6F6F6F;
}

.renewal {
font-size: 9pt;
font-weight: 400;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #390;
}

.padLft {
width: 180px;
padding-left: 90px;
padding-top: 30px;
}

.pTopOne {
padding-top: 30px;
}

.pTopTwo {
padding-top: 10px;
}

.pTopThree {
padding-top: 15px;
}

.pBot {
padding-bottom: 40px;
}


input{
text-align: left;
background: #FFFFFF;
border: 1px solid #616163;
}

.tdHead {
text-align:left;
padding-right: 20px;
}

.tdHeadTwo {
text-align:right;
padding-right: 20px;
}

.tdInput {
text-align:left;
padding-left: 10px;
}

.button1 {
border: 1px solid #616163;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;
background:  #4A4B4C;
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FCB040;
cursor: pointer
}

.button1:hover  {
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

.button2 {
border: 1px solid #616163;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;
background:  #4A4B4C;
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #999;
cursor: pointer
}

.button2:hover  {
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #999;
}


.keyHeader {
font-size: 8pt;
font-weight: 900;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFF;
}

.keyText2 {
font-size: 9pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #666;
}

.keyText3 {
font-size: 8pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
}

.tablePre {
border-collapse:collapse;
border:  1px solid #4A4B4C;
}

#innerOne   {
position: relative; 
height: auto;
width: 300px;
top:  15px;
left: 10px;
}

#accountResults   {
position: relative; 
left: 10px;
top:  30px;
width: 850px;
height: auto;
}

#innerTwo   {
position: relative; 
height: auto;
width: 300px;
top:  60px;
left: 10px;
}

#innerThree   {
position: relative; 
height: auto;
width: 300px;
top:  100px;
left: 10px;
}

#preForm   {
position: relative; 
height: auto;
width: 850px;
top:  75px;
left: 10px;
}

#payHouse {
position: relative;
top: 115px;
left: 10px;
width: 800px;
height: auto;
}