body {
text-align: center;
}

#userHeader  {
text-align: center;
position: relative; 
margin-left: auto; 
margin-right: auto;
font-size: 15pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
top:  20px;
}

#userForm1   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  25px;
}


#userForm2   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  50px;
}

#userForm2a   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  40px;
}

#userForm3   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  75px;
}


#userForm4   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  100px;
}




.grey {
text-align: center;
font-size: 9pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #6F6F6F;
z-index: 2;
}

input{
background: #FFFFFF;
border: 1px solid #616163;
}

td {
padding-top: 8px;
}

.padTop {
padding-top: 25px;
}

#idContent1{
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  20px;
font-size: 9pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: red
}

.footer  {
position: relative; 
margin-left: auto; 
margin-right: auto;
bottom:   -180px;
text-align: center;
font-size: 11pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #6F6F6F
}

.tMark {
font-size: 11pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
}