body {
background-color:#FFFFFF;
background: #003D5C;
margin: 0;
}


table  {
border: 7px solid rgb(34, 135, 209);
background-color: #003D5C ;
}

.tabTwo {
border: 0px;
}




.header {
padding-top: 10px;
padding-right:  30px;
padding-left:  30px;
text-align: center;
font-size: 12pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

th {
padding-top: 0px;
padding-bottom:  2px;
text-align: left;
padding-left: 5px;
vertical-align: bottom;
font-size: 9pt;
font-weight: 300;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF
}

td {
padding-top: 0px;
padding-bottom:  8px;
text-align: left;
padding-left: 5px;
vertical-align: bottom;
}


.right {
padding-top: 0px;
padding-bottom:  8px;
text-align: right;
}


.button {
border: 0px;
-moz-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
padding-top: 4px;
padding-bottom:  4px;
padding-right:  10px;
padding-left:  10px;
background: #6AC04E;
font-size: 9pt;
font-weight: 300;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFF;
cursor: pointer;
}


input {
background: #FFFFFF;
border: 1px solid #FFFFFF;
}


.logForm   {
position: relative; 
margin-left: auto; 
margin-right: auto;
height: 200px;
top:  100px;
}

.copyWrite  {
padding-bottom: 16px;
font-size: 6pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

.padRight {
padding-right: 20px;
}

.padLeft {
padding-left: 20px;
}


.errors {
font-size: 8pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: red
}

.forgot {
font-size: 7pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #1D76B9;
}

.forgot:Link {
text-decoration:none;
color: #FFFFFF;
}

.forgot:visited{
text-decoration:none;
color: #1D76B9;
}
.forgot:active{
text-decoration:none;
color: #1D76B9;
}
a.forgot:hover { 
text-decoration:none;
color: 	#810541; 
}

.buttonSched {
   border-top: 1px solid #0dfc00;
   background: #00ff09;
   background: -webkit-gradient(linear, left top, left bottom, from(#42a650), to(#00ff09));
   background: -webkit-linear-gradient(top, #42a650, #00ff09);
   background: -moz-linear-gradient(top, #42a650, #00ff09);
   background: -ms-linear-gradient(top, #42a650, #00ff09);
   background: -o-linear-gradient(top, #42a650, #00ff09);
   padding: 8px 16px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   }
.buttonSched:hover {
   border-top-color: #ff0303;
   background: #ff0303;
   color: #000000;
   cursor: pointer;
   }
.buttonSched:active {
   border-top-color: #1b435e;
   background: #1b435e;
   cursor: pointer;
   }
