#yellow2 {
float: left;
height: 20px;
width: 18px;
outline: 1px solid #000000;
background-color: #FF9;
}

#orange2 {
float: left;
height: 20px;
width: 18px;
outline: 1px solid #000000;
background-color: #F90;
visibility: hidden;
}

#red2 {
float: left;
height: 20px;
width: 18px;
outline: 1px solid #000000;
background-color: #C03;
visibility: hidden;
}

.yellowBack {
background-color: #FF9;
}

.orangeBack {
background-color: #F90;
}

.redBack {
background-color: #C03;
}


.notesTable  {
position:relative;
top: 12px;
height: auto;
width: 825px;
left: 9px;
}


.noteList  {
position:relative;
top: 20px;
width: 825px;
left: 9px;
}

#noteTab2  {
width: 80%;
}

#reportNotes  {
width: 80%;
border: 1px solid #000;
}

.noteBoard2 {
margin-bottom: 30px;
border:1px solid #4A4B4C;
border-collapse:collapse;
}

.noteBoard1 {
border-collapse:collapse;
}

.noteHead {
background-color: #4A4B4C;
}

.noteText  {
position: relative;
top: 0px;
text-align: left;
vertical-align:middle;
padding-left: 10px;
font-size: 9pt;
font-weight: 300;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

.noteText3  {
position: relative;
top: 0px;
text-align: left;
vertical-align:middle;
font-size: 8pt;
font-weight: 300;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

.noteTile6 {
border-top: 1px solid white;
}

.noteTile2  {
border-bottom: 1px solid black;
border-right: 1px solid black;
border-left: 1px solid black;
}

.noteTile3  {
border-left: 1px solid black;
}

.noteTile4  {
border-right: 1px solid black;
}

.noteTab {
padding-left: 3%;
}

.redText {
font-size: 8pt;
font-weight: 700;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000;
z-index: 2
}

.hiddenTR {
    display:none;
}

.ShowHide {
border: 1px solid #616163;
background:  #4A4B4C;
padding-top:  2px;
padding-bottom:  2px;
font-size: 9pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FCB040;
text-align: center;
cursor: pointer;
}

.ShowHide:hover  {
font-size: 9pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}