#userHeader  {
text-align: center;
position: relative; 
margin-left: auto; 
margin-right: auto;
font-size: 15pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000;
top:  0px;
}

#userForm   {
position: relative; 
//margin-left: auto; 
//margin-right: auto;
top:  10px;
}

#userForm2   {
position: relative; 
//margin-left: auto; 
//margin-right: auto;
top:  10px;
}

#contentWindow  {
position: relative; 
width: 750px;
margin-left: auto; 
margin-right: auto;
top:  85px;
}

#totalBar {
position: relative; 
width: 750px;
margin-left: auto; 
margin-right: auto;
top:  105px;
}

#paymentWindow  {
position: relative; 
width: 750px;
top:135px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto; 
margin-right: auto;
background-color: #FFF;
z-index: 3;
}


.black {
font-size: 9pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
z-index: 2;
}

.blackTwo {
font-size: 11pt;
font-weight: 700;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
z-index: 2;
}

.greenOne {
font-size: 11pt;
font-weight: 700;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #360;
z-index: 2;
}


.white {
font-size: 8pt;
font-weight: 400;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
z-index: 2;
}


input{
text-align: left;
background: #FFFFFF;
border: 1px solid #616163;
}

.thHead {
text-align:left;
padding-right: 15px;
}

th {
background: #303030
}

.button1 {
border: 1px solid #616163;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 10px;
padding-right: 10px;
background:  #4A4B4C;
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FCB040;
}

.button1:hover  {
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

.button2 {
border: 1px solid #616163;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 10px;
padding-right: 10px;
background:  #4A4B4C;
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #999;
}

.button2:hover  {
font-size: 8pt;
font-weight: 200;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #999;
}

.buttonPad {
padding-top: 20px;
}


.head, li { 
margin-bottom:0px; 
}

.head { 
font-size: 8pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
display:block;
cursor: pointer;
}

.head:hover  {
font-size: 8pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #690;
}



.content { 
display:none;
}

ul {
list-style-type: none;
margin: 0px;
padding: 0px;
}

.grey {
text-align: center;
font-size: 9pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #6F6F6F;
z-index: 2;
}

#refundWindow  {
position: absolute; 
left: 20px;
top: 20px;
width:  870px;
height: 90%;
background-color: #FFF;
border: solid 1px;
display: none;
clear:both;
z-index: 3;
}

#masking {
position: fixed; 
width: 99%;
height: 100%;
overflow: visible;
top: 0px;
background-color: #000;
opacity: 0.5; 
display: none;
z-index: 2;
}

.closeTwo {
padding-top: -5px;
padding-right: 10px;
float: right;
font-size: 13pt;
font-weight: 900;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000;
cursor: pointer;
}

#userHeaderTwo  {
text-align: center;
position: relative; 
margin-left: auto; 
margin-right: auto;
font-size: 15pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000;
top:  15px;
}

#userFormTwo   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  20px;
}

#contentWindowTwo  {
position: relative; 
width: 750px;
margin-left: auto; 
margin-right: auto;
top:  60px;
}

#totalBarTwo {
position: relative; 
width: 750px;
margin-left: auto; 
margin-right: auto;
top:  80px;
}

#totalBarThree {
position: relative; 
width: 750px;
margin-left: auto; 
margin-right: auto;
top:  100px;
}

#reButtons {
position: relative; 
width: 750px;
margin-left: auto; 
margin-right: auto;
top:  120px;
}

