body{
margin: 0px;
}



#groupInfo {
position:relative;
width: 995px;
top: 80px;
padding-bottom: 15px;
}

#libHost {
position:relative;
width: 995px;
top: 70px;
padding-bottom: 20px;

    left: 100px;

    margin: 0 auto;
    left: 0;
}


#userHeader,
.userHeader {
    position: relative; 
    top:  20px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
    font-style: normal;
    font-family: "Arial","Helvetica","Times",serif;
    color: #000000;
    z-index: 1;

    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    color: #003a5d;
    font-size: 20pt;
    text-align: left;
    padding-left: 100px;
}

#userForm1   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  75px;
width: 995px;
height: 290px;
overflow: auto;
z-index: 2;

    height: auto;
}



.white{
font-size: 1pt;
font-weight: 100;
font-style: normal;
color: #FFFFFF;
}


#note {
position:absolute;
top: 300px;
left: 80px;
padding:8px;
background-color: #CCC;
border:1px solid #4A4B4C;
visibility:hidden;
z-index: 6;

    top: 755px;
    left: 250px;
}

#noteCheck {
position: relative;
top: 25px;
left: 15px;

    left: 0;
}


.checkText {
font-size: 8pt;
font-weight: 300;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
padding-right: 10px;
padding-top: 0px;
padding-bottom: 0px;
color: #FFFFFF;
}


.dob {
font-size: 8pt;
font-weight: 500;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #600;
}


.tabBoard1 {
margin-bottom: 20px;
border:1px solid #4A4B4C;
border-collapse:collapse;
}

.tabBoard2 {
margin-bottom: 20px;
border:1px solid #4A4B4C;
border-collapse:collapse;
}

.tabHead {
background-color: #4A4B4C;
}

.pad {
padding-bottom: 8px;
}


.black {
font-size: 8pt;
font-weight: 500;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #000000;
z-index: 2
}

.blackBold {
font-size: 9pt;
font-weight: 800;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #000000;
z-index: 2
}

.green {
font-size: 8pt;
font-weight: 700;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #360;
z-index: 2
}


.oBtext  {
position: relative;
top: 0px;
text-align: left;
padding-left: 10px;
font-size: 9pt;
font-weight: 300;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #FFFFFF;
}


input{
background: #FFFFFF;
border: 1px solid #616163
}

textarea{
background: #FFFFFF;
border: 1px solid #616163
}

input[type=checkbox] {
   border: none;
   background: none;
}

input[type=radio] {
   border: none;
   background: none;
}





.button1 {
    border: 1px solid #616163;
    background:  #4A4B4C;
    font-size: 8pt;
    font-weight: 200;
    font-style: normal;
    /*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #FCB040;
}


.button1:hover  {
    font-size: 8pt;
    font-weight: 200;
    font-style: normal;
    /*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    color: #FFFFFF;
}

.space {
word-spacing: 5px;
font-size: 8pt;
font-weight: 500;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #000000;
}


#contractTypeHeader  {
position: relative;
margin-left: auto; 
margin-right: auto;
margin-bottom: 15px;
margin-top: 15px;
height: auto;
width: 800px;
top:  45px;
text-align: center;
font-size: 12pt;
font-weight: 900;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #439B81;
z-index: 2;
}

#selectServiceTab {
position: relative;
top:35px;
height: 30px;
width: 500px;

    border: none;
    background: #e4e6e9;
    width: 100%;
    /*width: 98%;*/
    height: auto;
}

.tabText {
position: relative;
right: -10px;
top: 5px;
font-size: 12pt;
font-weight: 300;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #000000;
}

.container {
position: relative;
top:50px;
left:10px;
width: 1000px;
margin-left: 15px;

    margin: 0 auto;
    left: 0;
}

.container p {
margin-bottom: 1px;
margin-top: 1px;
padding: 3px;
background: #4A4B4C;
border: 1px solid #616163;
font-size: 9pt;
font-weight: 300;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #FCB040;
}
    
.container div {
  padding: 0px;
}

.plus {
position:absolute;
right: 15px;
font-size: 12pt;
font-weight: 900;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}


#paymentSummaryTab {
position: relative;
top: 60px;
left: 0px;
margin-bottom: 15px;
margin-top: 15px;
height: 30px;
width: 500px;

    border: none;
    background: #e4e6e9;
    width: 100%;
    /*width: 98%;*/
    height: auto;
}


.tabText2 {
position: relative;
right: 0px;
top: 5px;
font-size: 12pt;
font-weight: 300;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #000000;
outline: 1px solid #999999;
background-color: #D8D8D8;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 20px;


    background: #e4e6e9;
    border: none;
    height: 52px;
    /* max-height: 52px; */
    /* min-height: 52px; */
    text-transform: uppercase;
    color: #003d5c;
    font-weight: 600;
    /* font-size: 10pt; */
    /* display: block; */
    line-height: 52px;
    outline: none;
    padding-left: 100px;
    top: 0;
}

.tabText2:before {
    content: "► ";
}

#overFields {
position: relative;
top:  27px;
width: 1000px;
left: 15px;
height: 40px;

    top: 60px;
    left: 100px;

    margin: 0 auto;
    left: 0
}


#payTerms  {
position: relative;
margin-left: auto; 
margin-right: auto;
height: 230px;
top:  30px;
left: 15px;

    top: 80px;
    left: 100px;
    width: 1000px;
    margin: 0;

    margin: 0 auto;
    left: 0;
}


.status {
position: absolute; 
width: 125px;
height:220px;
border: 1px solid #4A4B4C;
left:0px;
top: 0px;
}

.status1 {
position: absolute;
top: 0px;
left: 0px;
width: 125px;
height: 20px;
background-color: #4A4B4C;
}

.status2 {
position: relative;
top: 20px;
left: 0px;
width: 125px;
height: 190px;
margin-top:0px; 
margin-left: auto; 
margin-right: auto;
}

.monthly {
position: absolute; 
width: 220px;
height:238px;
border: 1px solid #4A4B4C;
margin-top:0px; 
margin-left: 0px; 
margin-right: 0px;
left:165px;
top: -1px;
}

.monthly1 {
position: absolute;
top: 0px;
left: 0px;
width: 220px;
height: 20px;
background-color: #4A4B4C;
}

.monthly2 {
position: absolute;
top: 0px;
left: 0px;
width: 220px;
height: 200px;
margin-top:20px; 
margin-left: auto; 
margin-right: auto;
}

.full {
position: absolute; 
width: 220px;
height:220px;
border: 1px solid #4A4B4C;
left: 425px;
top: -1px;
}

.full1 {
position: absolute;
top: 0px;
left: 0px;
width: 220px;
height: 20px;
background-color: #4A4B4C;
}


.full2 {
position: absolute;
top: 0px;
left: 0px;
width: 220px;
height: 200px;
margin-top:20px; 
margin-left: auto; 
margin-right: auto;
}

.summary {
position: absolute; 
width: 310px;
height:220px;
border: 1px solid #4A4B4C;
left: 680px;
top: -1px;
}

.summary1 {
position: absolute;
top: 0px;
left: 0px;
width: 310px;
height: 20px;
background-color: #4A4B4C;
}


.servtxt  {
position: absolute;
top: 3px;
text-align: left;
padding-left: 10px;
font-size: 9pt;
font-weight: 300;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #FFFFFF;
overflow: auto;
z-index: 1;
}

.oBox3 {
position: absolute;
top: 20px;
left: 0px;
width: 305px;
height: 197px;
overflow: auto;
}

#membersInfoTab {
position: relative;
top: 40px;
left: -16px;
margin-bottom: 15px;
margin-top: 15px;
height: 50px;
width: 500px;

    border: none;
    background: #e4e6e9;
    width: 100%;
    /*width: 98%;*/
    height: auto;
    top: 100px;
    left: 0;
    margin-bottom: 100px;
}

#membersInfoTab+table {
    margin-left: 100px;
}






.memHeader {
position: absolute;
top: 0px;
left: 0px;
width: 995px;
height: 20px;
background-color: #4A4B4C;
}


.memContact {
position: relative;
top: 3px;
left: 0px;
width: 995px;
height: auto;
margin-top:20px; 
margin-bottom:10px; 
margin-left: auto; 
margin-right: auto;
}

#userForm2   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  55px;
width: 995px;
border: 1px solid #4A4B4C;
z-index: 2;
}

#paymentInfoTab {
position: relative;
top: 75px;
left: -16px;
margin-bottom: 15px;
margin-top: 15px;
height: 30px;
width: 500px;

    border: none;
    background: #e4e6e9;
    width: 100%;
    /*width: 98%;*/
    height: auto;
    left: 0;
    margin-bottom: 70px;
}

#todaypay {
position: relative;
top:50px;
height: 30px;
width: 995px;

    top: 100px;
    left: 100px;

    margin: 0 auto;
    left: 0
}


#secTab  {
position: relative;
width: 100%;
border-collapse:collapse;
}



.buttonSubmit {
border: 1px solid #616163;
background: #4A4B4C;
padding-left: 5px;
padding-right: 5px;
padding-top: 7px;
padding-bottom: 7px;
font-size: 8pt;
font-weight: 200;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #FCB040;
}

.buttonSubmit:hover {
font-size: 8pt;
font-weight: 200;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #FFFFFF;
}


.buttonPrint {
border: 1px solid #616163;
background:  #4A4B4C;
padding-left: 5px;
padding-right: 5px;
padding-top: 7px;
padding-bottom: 7px;
font-size: 8pt;
font-weight: 200;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #FCB040;
}

.buttonPrint:hover {
font-size: 8pt;
font-weight: 200;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #FFFFFF;
}



.creditPay {
position: relative; 
top: 90px;
left: 0px;
width: 1000px;
margin-left: auto; 
margin-right: auto;
z-index: 3;

    top: 30px;
}

.creditPay1 {
position: absolute;
top: 0px;
left: 0px;
width: 500px;
height: 20px;
background-color: #4A4B4C;
}

.creditPay2 {
position: relative;
top: 20px;
left: 0px;
width: 493px;
margin-top:0px; 
margin-left: 0px; 
margin-right: auto;
padding-left: 5px;
padding-bottom: 5px;
border: 1px solid #4A4B4C;
}


.bankPay1 {
position: absolute;
top: 0px;
left: 499px;
width: 498px;
height: 20px;
background-color: #4A4B4C;
}

.bankPay2 {
position: absolute;
top: 20px;
left: 499px;
width: 491px;
margin-top:0px; 
margin-left: auto; 
margin-right: auto;
padding-left: 5px;
padding-bottom: 8px;
border: 1px solid #4A4B4C;
}


.locationColor {
color: #600000
}




.cashPay {
position: relative; 
top: 109px;
width: 1000px;
height: 55px;
left: 0px;
margin-left: auto; 
margin-right: auto;
z-index: 3;

    top: 49px;
}

.cashPay1 {
position: absolute;
top: 0px;
left: 0px;
width: 500px;
height: 20px;
background-color: #4A4B4C;
}

.cashPay2 {
position: absolute;
top: 20px;
left: 0px;
width: 498px;
margin-top:0px; 
margin-left: 0px; 
margin-right: auto;
padding-bottom: 4px;
padding-top: 2px;
border: 1px solid #4A4B4C;
}


.checkPay1 {
position: absolute;
top: 0px;
left: 499px;
width: 498px;
height: 20px;
background-color: #4A4B4C;
}

.checkPay2 {
position: relative;
top: 20px;
left: 499px;
width: 496px;
margin-top:0px; 
margin-left: 0px; 
margin-right: auto;
padding-bottom: 4px;
padding-top: 2px;
border: 1px solid #4A4B4C;
}


#printCont {
position: relative;
top: 35px;
width: 995px;
margin-left: 0px; 
margin-right: auto;
margin-bottom: 10px;
padding-bottom: 20px;
text-align: center;

    margin: 0 auto;
}

#submitOrder {
position: relative;
top: -7px;
left:500px;
width: 495px;
margin-left: 0px; 
margin-right: auto;
margin-bottom: 10px;
text-align: center;
}

#memNum {
visibility:hidden;
}



#todayPayTwo {
position: relative;
top:18px;
left:15px;
font-size: 10pt;
font-weight: 800;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;

    left: 100px;
    width: 1000px;
    margin: 0;
}

#todayPayTwoTotal {
font-size: 10pt;
font-weight: 800;
font-style: normal;
/*font-family: "Arial","Helvetica","Times",serif;*/ font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
color: #900;
}




