#userHeader  {
text-align: center;
position: relative; 
margin-left: auto; 
margin-right: auto;
font-size: 15pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000;
top:  20px;
}


#userForm   {
position: relative; 
margin-left: auto; 
margin-right: auto;
top:  20px;
}

td {
padding-top: 10px;
}

.grey {
font-size: 9pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #6F6F6F;
z-index: 2;
}

.black {
font-size: 8pt;
font-weight: 500;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
z-index: 2;
}

input{
background: #FFFFFF;
border: 1px solid #616163;
}


.termSpace {
padding-top: 20px;
}


#conf {
text-align: center;
position: relative; 
margin-left: auto; 
margin-right: auto;
top: 22px;
font-size: 10pt;
font-weight: 700;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #307D7E;
}


.errors {
font-size: 9pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: red
}


#chartSave {
position:absolute;
top: 150px;
right: 80px;
padding:0px;
background-color: #CCC;
border:1px solid #4A4B4C;
display: none;
z-index: 6;
}

div.chartSave img.menu_exit {
  float:  right;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  z-index: 3;
}

#saveForm {
padding-top: 20px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 8px;
text-align: left;
font-size: 8pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000000;
}



img {
border-style: none;
}  


.headerList {
background-color: #303030;
padding-left: 3px;
text-align: left;
font-size: 8pt;
font-weight: 600;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

#listOne {
width: 450px;
}


#listHouse {
border: 1px solid black;
overflow-y: scroll;
height: 275px;
display: none;
}


#listHouseTwo {
border: 1px solid black;
overflow-y: scroll;
height: 275px;
}

.even {
background-color: #FFFFFF;
}

.odd {
background-color: #D8D8D8;
}

.checked {
background-color: #F93;
}

.checked2 { 
background-color: #FF9;
}

.button1 {
 border: 1px solid #616163;
 background:  #4A4B4C;
 font-size: 8pt;
 padding-top: 3px;
 padding-bottom: 2px;
 font-weight: 200;
 font-style: normal;
 font-family: "Arial","Helvetica","Times",serif;
 color: #FCB040;
}


.button1:hover  {
 font-size: 8pt;
 font-weight: 200;
 font-style: normal;
 font-family: "Arial","Helvetica","Times",serif;
 color: #FFFFFF;
}

.listHeader {
 background-color: #303030;
 font-size: 8pt;
 font-weight: 600;
 font-style: normal;
 font-family: "Arial","Helvetica","Times",serif;
 color: #FFFFFF;
}

#scheduleDrops {
position: relative; 
margin-left: auto; 
margin-right: auto;
height: auto;
top:  30px;
}

.colSpace1 {
 padding-top: 15px;
 padding-left: 10px;
 font-size: 11pt;
 font-weight: 800;
 font-style: normal;
 font-family: "Arial","Helvetica","Times",serif;
 color: #000; 
 }
 

#classList {
position: relative; 
padding-top: 0px;
margin-top: 0px;
margin-left: auto; 
margin-right: auto;
height: 120px;
top:  40px;
width: 835px;
border: 1px solid black;
display:inline-block;
overflow: hidden;
}


#addEditHeader {
position: relative; 
margin-left: auto; 
margin-right: auto;
height: auto;
top:  65px;
padding-top: 0px;
padding-left: 10px;
font-size: 11pt;
font-weight: 800;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000; 
} 
 
#addEditContent {
position: relative; 
margin-left: auto; 
margin-right: auto;
height: auto; 
top:  75px;
}
 
#tableBord {
 border: 1px solid black;
}

.bordRight {
border-right: 1px solid black;
}

.padOne {
padding-top: 0px;
padding-left:10px;
}

.padTwo {
padding-top: 8px;
padding-left:10px;
}

.padThree {
padding-bottom: 0px;
padding-left:10px;
}

.padFour {
padding-top: 25px;
}

.blackTwo {
font-size: 11pt;
font-weight: 900;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #000; 
}
 
.bColor {
background-color: #D8D8D8;
}

#datePick {
display: none;
}


.oBtext3  {
position: relative;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 3px;
text-align: left;
vertical-align:middle;
font-size: 8pt;
font-weight: 300;
font-style: normal;
font-family: "Arial","Helvetica","Times",serif;
color: #FFFFFF;
}

.tabHead {
background-color: #4A4B4C;
}

.button2 {
 border: 1px solid #616163;
 background:  #4A4B4C;
 font-size: 8pt;
 padding-top: 0px;
 padding-bottom: 0px;
 font-weight: 200;
 font-style: normal;
 font-family: "Arial","Helvetica","Times",serif;
 color: #FCB040;
}


.button2:hover  {
 font-size: 8pt;
 font-weight: 200;
 font-style: normal;
 font-family: "Arial","Helvetica","Times",serif;
 color: #FFFFFF;
}

th.header { 
    background-image: url(../images/bg.png);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position:  right; 
} 

th.headerSortUp { 
    background-image: url(../images/asc.png); 
} 

th.headerSortDown { 
    background-image: url(../images/desc.png); 
} 


tr.stripe:nth-child(odd) {
  background-color: #FFFFFF;
}

tr.stripe:nth-child(even) {
  background-color: #E6E6E6;
}

.highlighted {
 background-color: #FF9;
}


